@charset "UTF-8";
$color--background: #ffffff;
$color--content: #ededed;
$color--text: #000000;
$color--text-bright: #707070;
$color--border: #dddddd;
$color--box: #333333;
$color--primary: #02b7e5;
$color--primary-hover: #63c6df;
$color--red: #e50253;
$color--red-background: #f7e6ec;
